extends layout

block content
  .container
  .row
  
   h1.sm-heading.col-8
   |About Me 
   
   p
          .projects.div.btn-dark.col-4.
            | Rekhil Mittu is a web designer from India 

            |  I spend my days with my hands in many different areas of web development from back end programming (PHP,SQL Database,Wordpress, ASP.NET on Rails) to front end engineering (HTML, CSS, and jQuery/Javascript), digital accessibility, user experience and visual design.

   h1.sm-heading.col-4
   |My Weebshop 
   
   p
          .projects.div.btn-dark.col-4.
            I’m extremely passionate about web development and design in all it’s forms and helping small businesses and artisans build and improve their online presence.
             Aside from web development, I enjoy spending my time with my wife, sons, and daughter, brewing beer, taking photos and playing & watching sports (hockey, golf, and mixed martial arts to name a few).
        
      	
