extends layout

block content


          .item
            a(href='#!')
              img(src='https://designmodo.com/wp-content/uploads/2017/10/03-ilya-grigorik-portfolio.jpg', alt='Project')
            a.btn-light(href='#')
              i.fas.fa-eye
              |  Project
            a.btn-dark(href='#')
              i.fab.fa-github
              |  Github
          
          
          .item
            a(href='#!')
              img(src='https://helpx.adobe.com/content/dam/help/en/lightroom-cc/how-to/lightroom-photoshop-edit-photos_1800x1012.jpg', alt='Project')
            a.btn-light(href='#')
              i.fas.fa-eye
              |  Photoshop  Project
            a.btn-dark(href='#')
              i.fab.fa-github
              |  Github
          .item
            a(href='#!')
              img(src='https://sg.fiverrcdn.com/photos/73412101/original/a149997a9159e194fc73d03e9926d836665670c5.jpg?1485877158', alt='Project')
            a.btn-light(href='#')
              i.fas.fa-eye
              |  Photoshop Project
            a.btn-dark(href='#')
              i.fab.fa-github
              |  Github